body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
        /* Section Styles */
        section {
            width: 100%;
        }

        section nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            right: 0;
            left: 0;
            top: 1%;
            margin-top: -8px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        section nav .logo img {
            width: 100px;
            cursor: pointer;
            margin: 7px 0;
        }

        section nav ul {
            list-style: none;
        }

        section nav ul li {
            display: inline-block;
            margin: 0 15px;
        }

        section nav ul li a {
            text-decoration: none;
            color: #000;
            font-weight: 500;
            font-size: 17px;
            transition: 0.1s;
        }

        section nav ul li a::after {
            content: '';
            width: 0;
            height: 2px;
            background: #fac031;
            display: block;
            transition: 0.2s linear;
        }

        section nav ul li a:hover::after {
            width: 100%;
        }

        section nav ul li a:hover {
            color: #fac031;
        }

        section nav .icon i {
            font-size: 18px;
            color: #000;
            margin: 0 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        section nav .icon i:hover {
            color: #fac031;
        }

        /* Gallery Styles */
        .gallery {
            width: 100%;
            padding: 40px 0;
        }

        .gallery h1 {
            font-size: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .gallery h1 span {
            margin-left: 15px;
            color: #fac031;
            font-family: mv boli;
        }

        .gallery h1 span::after {
            content: '';
            width: 100%;
            height: 2px;
            background: #fac031;
            display: block;
            position: relative;
            bottom: 15px;
        }

        .gallery .gallery_image_box {
            width: 95%;
            margin: 10px auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }

        .gallery .gallery_image_box .gallery_image {
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
        }

        .gallery .gallery_image_box .gallery_image img {
            width: 100%;
            transition: .3s;
        }

        .gallery .gallery_image_box .gallery_image:hover img {
            opacity: 0.4;
        }

        .gallery .gallery_image_box .gallery_image h3 {
            position: absolute;
            font-size: 35px;
            margin-bottom: 130px;
            color: #fac031;
            font-family: polo;
            z-index: 5;
            opacity: 0;
            transition: 0.3s;
        }

        .gallery .gallery_image_box .gallery_image:hover h3 {
            opacity: 1;
        }

        .gallery .gallery_image_box .gallery_image p {
            position: absolute;
            width: 400px;
            margin-top: 30px;
            text-align: center;
            color: white;
            line-height: 22px;
            opacity: 0;
            z-index: 5;
            transition: 0.3s;
        }

        .gallery .gallery_image_box .gallery_image:hover p {
            opacity: 1;
        }

        .gallery .gallery_image_box .gallery_image .gallery_btn {
            position: absolute;
            margin-top: 180px;
            color: #000;
            background: #fac031;
            padding: 7px 25px;
            text-decoration: none;
            opacity: 0;
            transform: translateY(45px);
            z-index: 5;
            transition: 0.3s;
        }

        .gallery .gallery_image_box .gallery_image:hover .gallery_btn {
            opacity: 1;
            transform: translateY(0);
        }
        ::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: #fac031;
    border-radius: 15px;
}::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: #fac031;
    border-radius: 15px;
}